#s-23c660d0-ec43-422a-b6c0-5e40562d5467 #s-Rectangle_10 {
  -ms-transform: rotate(0.0deg);
}
#s-23c660d0-ec43-422a-b6c0-5e40562d5467 #s-Label_97 {
  -ms-transform: rotate(0.0deg);
}
#s-23c660d0-ec43-422a-b6c0-5e40562d5467 #s-Label_98 {
  -ms-transform: rotate(0.0deg);
}
#s-23c660d0-ec43-422a-b6c0-5e40562d5467 #s-Label_99 {
  -ms-transform: rotate(0.0deg);
}
#s-23c660d0-ec43-422a-b6c0-5e40562d5467 #s-Ellipse_33 {
  -ms-transform: rotate(0.0deg);
}
#s-23c660d0-ec43-422a-b6c0-5e40562d5467 #s-Ellipse_34 {
  -ms-transform: rotate(0.0deg);
}
#s-23c660d0-ec43-422a-b6c0-5e40562d5467 #s-Ellipse_35 {
  -ms-transform: rotate(0.0deg);
}
#s-23c660d0-ec43-422a-b6c0-5e40562d5467 #s-Ellipse_36 {
  -ms-transform: rotate(0.0deg);
}
#s-23c660d0-ec43-422a-b6c0-5e40562d5467 #s-Ellipse_37 {
  -ms-transform: rotate(0.0deg);
}
#s-23c660d0-ec43-422a-b6c0-5e40562d5467 #s-Label_106 {
  -ms-transform: rotate(0.0deg);
}
#s-23c660d0-ec43-422a-b6c0-5e40562d5467 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-23c660d0-ec43-422a-b6c0-5e40562d5467 #s-Rectangle_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-23c660d0-ec43-422a-b6c0-5e40562d5467 #s-Label_101 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=2);
  filter: alpha(opacity=2);
  -ms-transform: rotate(0.0deg);
}
#s-23c660d0-ec43-422a-b6c0-5e40562d5467 #s-Label_1 {
  -ms-transform: rotate(0.0deg);
}
#s-23c660d0-ec43-422a-b6c0-5e40562d5467 #s-Label_147 {
  -ms-transform: rotate(0.0deg);
}
#s-23c660d0-ec43-422a-b6c0-5e40562d5467 #s-Label_152 {
  -ms-transform: rotate(0.0deg);
}
#s-23c660d0-ec43-422a-b6c0-5e40562d5467 #s-Label_153 {
  -ms-transform: rotate(0.0deg);
}
#s-23c660d0-ec43-422a-b6c0-5e40562d5467 #s-Label_155 {
  -ms-transform: rotate(0.0deg);
}
#s-23c660d0-ec43-422a-b6c0-5e40562d5467 #s-Label_154 {
  -ms-transform: rotate(0.0deg);
}
#s-23c660d0-ec43-422a-b6c0-5e40562d5467 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-23c660d0-ec43-422a-b6c0-5e40562d5467 #s-Rectangle_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95);
  filter: alpha(opacity=95);
  -ms-transform: rotate(0.0deg);
}
#s-23c660d0-ec43-422a-b6c0-5e40562d5467 #s-Rectangle_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-23c660d0-ec43-422a-b6c0-5e40562d5467 #s-Rectangle_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-23c660d0-ec43-422a-b6c0-5e40562d5467 #s-Rectangle_8 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-23c660d0-ec43-422a-b6c0-5e40562d5467 #s-Label_2 {
  -ms-transform: rotate(0.0deg);
}
#s-23c660d0-ec43-422a-b6c0-5e40562d5467 #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-23c660d0-ec43-422a-b6c0-5e40562d5467 #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-23c660d0-ec43-422a-b6c0-5e40562d5467 #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
.ui-page {
  overflow-x: hidden;
}
#s-23c660d0-ec43-422a-b6c0-5e40562d5467 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}