#s-a467069b-01ad-47b7-8c15-144743318522 #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a467069b-01ad-47b7-8c15-144743318522 #s-Label_97 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a467069b-01ad-47b7-8c15-144743318522 #s-Label_98 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a467069b-01ad-47b7-8c15-144743318522 #s-Label_99 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a467069b-01ad-47b7-8c15-144743318522 #s-Ellipse_33 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a467069b-01ad-47b7-8c15-144743318522 #s-Ellipse_34 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a467069b-01ad-47b7-8c15-144743318522 #s-Ellipse_35 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a467069b-01ad-47b7-8c15-144743318522 #s-Ellipse_36 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a467069b-01ad-47b7-8c15-144743318522 #s-Ellipse_37 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a467069b-01ad-47b7-8c15-144743318522 #s-Label_106 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a467069b-01ad-47b7-8c15-144743318522 #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a467069b-01ad-47b7-8c15-144743318522 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a467069b-01ad-47b7-8c15-144743318522 #s-Label_101 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=2) ;
  filter: alpha(opacity=2) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a467069b-01ad-47b7-8c15-144743318522 #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a467069b-01ad-47b7-8c15-144743318522 #s-Label_147 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a467069b-01ad-47b7-8c15-144743318522 #s-Label_152 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a467069b-01ad-47b7-8c15-144743318522 #s-Label_153 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a467069b-01ad-47b7-8c15-144743318522 #s-Label_155 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a467069b-01ad-47b7-8c15-144743318522 #s-Label_154 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a467069b-01ad-47b7-8c15-144743318522 #s-Label_119 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95) ;
  filter: alpha(opacity=95) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a467069b-01ad-47b7-8c15-144743318522 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a467069b-01ad-47b7-8c15-144743318522 #s-Label_308 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a467069b-01ad-47b7-8c15-144743318522 #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a467069b-01ad-47b7-8c15-144743318522 #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=84) ;
  filter: alpha(opacity=84) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a467069b-01ad-47b7-8c15-144743318522 #s-Label_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-a467069b-01ad-47b7-8c15-144743318522 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}