#s-c71a4b95-cca4-4109-8fa3-602d332734f3 > #backgroundBox {
  background-color: #34495E;
  background-image: none;
  position: absolute;
}
#s-c71a4b95-cca4-4109-8fa3-602d332734f3 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-c71a4b95-cca4-4109-8fa3-602d332734f3 #s-Statusbar-black {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 20px;
}
#s-c71a4b95-cca4-4109-8fa3-602d332734f3 #s-Rectangle_10 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 19px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-c71a4b95-cca4-4109-8fa3-602d332734f3 #s-Rectangle_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c71a4b95-cca4-4109-8fa3-602d332734f3 #s-Rectangle_10 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-c71a4b95-cca4-4109-8fa3-602d332734f3 #s-Rectangle_10 span#rtr-s-Rectangle_10_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-c71a4b95-cca4-4109-8fa3-602d332734f3 #s-Label_97 {
  position: absolute;
  top: 3px;
  left: 41px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 12.0pt;
}
#s-c71a4b95-cca4-4109-8fa3-602d332734f3 #s-Label_97 .valign {
  vertical-align: middle;
}
#s-c71a4b95-cca4-4109-8fa3-602d332734f3 #s-Label_98 {
  position: absolute;
  top: 4px;
  left: 299px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 11.0pt;
}
#s-c71a4b95-cca4-4109-8fa3-602d332734f3 #s-Label_98 .valign {
  vertical-align: middle;
}
#s-c71a4b95-cca4-4109-8fa3-602d332734f3 #s-Label_99 {
  position: absolute;
  top: 0px;
  left: 149px;
  width: 78px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
  line-height: 9.0pt;
}
#s-c71a4b95-cca4-4109-8fa3-602d332734f3 #s-Label_99 .valign {
  vertical-align: middle;
}
#s-c71a4b95-cca4-4109-8fa3-602d332734f3 #s-Group_24 {
  position: absolute;
  top: 7px;
  left: 4px;
  width: 34px;
  height: 6px;
}
#s-c71a4b95-cca4-4109-8fa3-602d332734f3 #s-Ellipse_33 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-c71a4b95-cca4-4109-8fa3-602d332734f3 #s-Ellipse_33 .content {
  width: 6px;
  height: 6px;
}
#s-c71a4b95-cca4-4109-8fa3-602d332734f3 #s-Ellipse_33 {
  position: absolute;
  top: 0px;
  left: 21px;
  width: 6px;
  height: 6px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-c71a4b95-cca4-4109-8fa3-602d332734f3 #shapewrapper-s-Ellipse_33 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c71a4b95-cca4-4109-8fa3-602d332734f3 #shapewrapper-s-Ellipse_33 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-c71a4b95-cca4-4109-8fa3-602d332734f3 #shapewrapper-s-Ellipse_33 span#rtr-s-Ellipse_33_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-c71a4b95-cca4-4109-8fa3-602d332734f3 #s-Ellipse_34 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-c71a4b95-cca4-4109-8fa3-602d332734f3 #s-Ellipse_34 .content {
  width: 6px;
  height: 6px;
}
#s-c71a4b95-cca4-4109-8fa3-602d332734f3 #s-Ellipse_34 {
  position: absolute;
  top: 0px;
  left: 28px;
  width: 6px;
  height: 6px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-c71a4b95-cca4-4109-8fa3-602d332734f3 #shapewrapper-s-Ellipse_34 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c71a4b95-cca4-4109-8fa3-602d332734f3 #shapewrapper-s-Ellipse_34 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-c71a4b95-cca4-4109-8fa3-602d332734f3 #shapewrapper-s-Ellipse_34 span#rtr-s-Ellipse_34_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-c71a4b95-cca4-4109-8fa3-602d332734f3 #s-Ellipse_35 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-c71a4b95-cca4-4109-8fa3-602d332734f3 #s-Ellipse_35 .content {
  width: 6px;
  height: 6px;
}
#s-c71a4b95-cca4-4109-8fa3-602d332734f3 #s-Ellipse_35 {
  position: absolute;
  top: 0px;
  left: 14px;
  width: 6px;
  height: 6px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-c71a4b95-cca4-4109-8fa3-602d332734f3 #shapewrapper-s-Ellipse_35 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c71a4b95-cca4-4109-8fa3-602d332734f3 #shapewrapper-s-Ellipse_35 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-c71a4b95-cca4-4109-8fa3-602d332734f3 #shapewrapper-s-Ellipse_35 span#rtr-s-Ellipse_35_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-c71a4b95-cca4-4109-8fa3-602d332734f3 #s-Ellipse_36 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-c71a4b95-cca4-4109-8fa3-602d332734f3 #s-Ellipse_36 .content {
  width: 6px;
  height: 6px;
}
#s-c71a4b95-cca4-4109-8fa3-602d332734f3 #s-Ellipse_36 {
  position: absolute;
  top: 0px;
  left: 7px;
  width: 6px;
  height: 6px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-c71a4b95-cca4-4109-8fa3-602d332734f3 #shapewrapper-s-Ellipse_36 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c71a4b95-cca4-4109-8fa3-602d332734f3 #shapewrapper-s-Ellipse_36 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-c71a4b95-cca4-4109-8fa3-602d332734f3 #shapewrapper-s-Ellipse_36 span#rtr-s-Ellipse_36_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-c71a4b95-cca4-4109-8fa3-602d332734f3 #s-Ellipse_37 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-c71a4b95-cca4-4109-8fa3-602d332734f3 #s-Ellipse_37 .content {
  width: 6px;
  height: 6px;
}
#s-c71a4b95-cca4-4109-8fa3-602d332734f3 #s-Ellipse_37 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 6px;
  height: 6px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-c71a4b95-cca4-4109-8fa3-602d332734f3 #shapewrapper-s-Ellipse_37 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c71a4b95-cca4-4109-8fa3-602d332734f3 #shapewrapper-s-Ellipse_37 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-c71a4b95-cca4-4109-8fa3-602d332734f3 #shapewrapper-s-Ellipse_37 span#rtr-s-Ellipse_37_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-c71a4b95-cca4-4109-8fa3-602d332734f3 #s-Label_106 {
  position: absolute;
  top: 1px;
  left: 302px;
  width: 50px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
  line-height: 9.0pt;
}
#s-c71a4b95-cca4-4109-8fa3-602d332734f3 #s-Label_106 .valign {
  vertical-align: middle;
}
#s-c71a4b95-cca4-4109-8fa3-602d332734f3 #s-Image_8 {
  position: absolute;
  top: 5px;
  left: 342px;
  width: 25px;
  height: 10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-c71a4b95-cca4-4109-8fa3-602d332734f3 #s-Rectangle_1 {
  position: absolute;
  top: 19px;
  left: 0px;
  width: 371px;
  height: 45px;
  background-color: #1ABC9C;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-c71a4b95-cca4-4109-8fa3-602d332734f3 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c71a4b95-cca4-4109-8fa3-602d332734f3 #s-Rectangle_1 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-c71a4b95-cca4-4109-8fa3-602d332734f3 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-c71a4b95-cca4-4109-8fa3-602d332734f3 #s-Label_101 {
  position: absolute;
  top: 30px;
  left: 15px;
  width: auto;
  height: auto;
  background-color: #EFEFEF;
  background-image: none;
  opacity: 0.02;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #D9D9D9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-c71a4b95-cca4-4109-8fa3-602d332734f3 #s-Label_101 .valign {
  vertical-align: middle;
}
#s-c71a4b95-cca4-4109-8fa3-602d332734f3 #s-Label_1 {
  position: absolute;
  top: 33px;
  left: 0px;
  width: 366px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #D9D9D9;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 12.0pt;
}
#s-c71a4b95-cca4-4109-8fa3-602d332734f3 #s-Label_1 .valign {
  vertical-align: middle;
}
#s-c71a4b95-cca4-4109-8fa3-602d332734f3 #s-Image_1 {
  position: absolute;
  top: 108px;
  left: 95px;
  width: 185px;
  height: 185px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-c71a4b95-cca4-4109-8fa3-602d332734f3 #s-Imessage1 {
  position: absolute;
  top: 85px;
  left: 232px;
  width: 104px;
  height: 31px;
}
#s-c71a4b95-cca4-4109-8fa3-602d332734f3 #s-Rich_text_3 {
  position: absolute;
  top: 0px;
  left: 3px;
  padding-right: 13px;
  padding-left: 13px;
  width: 75px;
  height: 18px;
  background-color: #E5E5EA;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 11px 11px 11px 11px;
  padding-top: 6px;
  padding-bottom: 6px;
  opacity: 0.95;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Roboto-Light,Arial;
}
#s-c71a4b95-cca4-4109-8fa3-602d332734f3 #s-Rich_text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c71a4b95-cca4-4109-8fa3-602d332734f3 #s-Rich_text_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
}
#s-c71a4b95-cca4-4109-8fa3-602d332734f3 #s-Rich_text_3 span#rtr-s-Rich_text_3_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-c71a4b95-cca4-4109-8fa3-602d332734f3 #s-Image_51 {
  position: absolute;
  top: 20px;
  left: 0px;
  width: 7px;
  height: 11px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-c71a4b95-cca4-4109-8fa3-602d332734f3 #s-Label_13 {
  position: absolute;
  top: 324px;
  left: 15px;
  width: 40px;
  height: 43px;
  background-color: #27AE60;
  background-image: none;
  opacity: 0.98;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #D9D9D9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 20.0pt;
}
#s-c71a4b95-cca4-4109-8fa3-602d332734f3 #s-Label_13 .valign {
  vertical-align: middle;
}
#s-c71a4b95-cca4-4109-8fa3-602d332734f3 #s-Label-blue {
  position: absolute;
  top: 324px;
  left: 41px;
  width: 318px;
  height: 43px;
  background-color: #27AE60;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 14.0pt;
  font-family: Roboto-Light,Arial;
}
#s-c71a4b95-cca4-4109-8fa3-602d332734f3 #s-Label-blue .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c71a4b95-cca4-4109-8fa3-602d332734f3 #s-Label-blue span {
  color: #D9D9D9;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 14.0pt;
}
#s-c71a4b95-cca4-4109-8fa3-602d332734f3 #s-Label-blue span#rtr-s-Label-blue_0 {
  color: #D9D9D9;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-c71a4b95-cca4-4109-8fa3-602d332734f3 #s-Image_2 {
  position: absolute;
  top: 504px;
  left: 11px;
  width: 344px;
  height: 100px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-c71a4b95-cca4-4109-8fa3-602d332734f3 #s-Callout_1 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 340px;
  height: 84px;
  position: absolute;
  overflow: hidden;
}
#s-c71a4b95-cca4-4109-8fa3-602d332734f3 #s-Callout_1 .content {
  width: 340px;
  height: 84px;
}
#s-c71a4b95-cca4-4109-8fa3-602d332734f3 #s-Callout_1 {
  position: absolute;
  top: 386px;
  left: 15px;
  width: 340px;
  height: 112px;
  background-color: #FF9900;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  opacity: 0.95;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-c71a4b95-cca4-4109-8fa3-602d332734f3 #shapewrapper-s-Callout_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c71a4b95-cca4-4109-8fa3-602d332734f3 #shapewrapper-s-Callout_1 span {
  color: #EFEFEF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-c71a4b95-cca4-4109-8fa3-602d332734f3 #shapewrapper-s-Callout_1 span#rtr-s-Callout_1_0 {
  color: #EFEFEF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-c71a4b95-cca4-4109-8fa3-602d332734f3 #s-Label_147 {
  position: absolute;
  top: 631px;
  left: 41px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-c71a4b95-cca4-4109-8fa3-602d332734f3 #s-Label_147 .valign {
  vertical-align: middle;
}
#s-c71a4b95-cca4-4109-8fa3-602d332734f3 #s-Label_152 {
  position: absolute;
  top: 631px;
  left: 105px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-c71a4b95-cca4-4109-8fa3-602d332734f3 #s-Label_152 .valign {
  vertical-align: middle;
}
#s-c71a4b95-cca4-4109-8fa3-602d332734f3 #s-Label_153 {
  position: absolute;
  top: 632px;
  left: 171px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-c71a4b95-cca4-4109-8fa3-602d332734f3 #s-Label_153 .valign {
  vertical-align: middle;
}
#s-c71a4b95-cca4-4109-8fa3-602d332734f3 #s-Label_155 {
  position: absolute;
  top: 632px;
  left: 232px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-c71a4b95-cca4-4109-8fa3-602d332734f3 #s-Label_155 .valign {
  vertical-align: middle;
}
#s-c71a4b95-cca4-4109-8fa3-602d332734f3 #s-Label_154 {
  position: absolute;
  top: 633px;
  left: 290px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-c71a4b95-cca4-4109-8fa3-602d332734f3 #s-Label_154 .valign {
  vertical-align: middle;
}
.ui-page {
  overflow-x: hidden;
}
#s-c71a4b95-cca4-4109-8fa3-602d332734f3 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}