#s-c71a4b95-cca4-4109-8fa3-602d332734f3 #s-Rectangle_10 {
  -ms-transform: rotate(0.0deg);
}
#s-c71a4b95-cca4-4109-8fa3-602d332734f3 #s-Label_97 {
  -ms-transform: rotate(0.0deg);
}
#s-c71a4b95-cca4-4109-8fa3-602d332734f3 #s-Label_98 {
  -ms-transform: rotate(0.0deg);
}
#s-c71a4b95-cca4-4109-8fa3-602d332734f3 #s-Label_99 {
  -ms-transform: rotate(0.0deg);
}
#s-c71a4b95-cca4-4109-8fa3-602d332734f3 #s-Ellipse_33 {
  -ms-transform: rotate(0.0deg);
}
#s-c71a4b95-cca4-4109-8fa3-602d332734f3 #s-Ellipse_34 {
  -ms-transform: rotate(0.0deg);
}
#s-c71a4b95-cca4-4109-8fa3-602d332734f3 #s-Ellipse_35 {
  -ms-transform: rotate(0.0deg);
}
#s-c71a4b95-cca4-4109-8fa3-602d332734f3 #s-Ellipse_36 {
  -ms-transform: rotate(0.0deg);
}
#s-c71a4b95-cca4-4109-8fa3-602d332734f3 #s-Ellipse_37 {
  -ms-transform: rotate(0.0deg);
}
#s-c71a4b95-cca4-4109-8fa3-602d332734f3 #s-Label_106 {
  -ms-transform: rotate(0.0deg);
}
#s-c71a4b95-cca4-4109-8fa3-602d332734f3 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-c71a4b95-cca4-4109-8fa3-602d332734f3 #s-Rectangle_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-c71a4b95-cca4-4109-8fa3-602d332734f3 #s-Label_101 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=2);
  filter: alpha(opacity=2);
  -ms-transform: rotate(0.0deg);
}
#s-c71a4b95-cca4-4109-8fa3-602d332734f3 #s-Label_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c71a4b95-cca4-4109-8fa3-602d332734f3 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c71a4b95-cca4-4109-8fa3-602d332734f3 #s-Rich_text_3 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 11px 11px 11px 11px;
  padding-top: 6px;
  padding-right: 13px;
  padding-bottom: 6px;
  padding-left: 13px;
  width: 75px;
  height: 18px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95);
  filter: alpha(opacity=95);
  -ms-transform: rotate(0.0deg);
}
#s-c71a4b95-cca4-4109-8fa3-602d332734f3 #s-Image_51 {
  -ms-transform: rotate(0.0deg);
}
#s-c71a4b95-cca4-4109-8fa3-602d332734f3 #s-Label_13 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98);
  filter: alpha(opacity=98);
  -ms-transform: rotate(0.0deg);
}
#s-c71a4b95-cca4-4109-8fa3-602d332734f3 #s-Label-blue {
  -ms-transform: rotate(0.0deg);
}
#s-c71a4b95-cca4-4109-8fa3-602d332734f3 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-c71a4b95-cca4-4109-8fa3-602d332734f3 #s-Callout_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95);
  filter: alpha(opacity=95);
  -ms-transform: rotate(0.0deg);
}
#s-c71a4b95-cca4-4109-8fa3-602d332734f3 #s-Label_147 {
  -ms-transform: rotate(0.0deg);
}
#s-c71a4b95-cca4-4109-8fa3-602d332734f3 #s-Label_152 {
  -ms-transform: rotate(0.0deg);
}
#s-c71a4b95-cca4-4109-8fa3-602d332734f3 #s-Label_153 {
  -ms-transform: rotate(0.0deg);
}
#s-c71a4b95-cca4-4109-8fa3-602d332734f3 #s-Label_155 {
  -ms-transform: rotate(0.0deg);
}
#s-c71a4b95-cca4-4109-8fa3-602d332734f3 #s-Label_154 {
  -ms-transform: rotate(0.0deg);
}
.ui-page {
  overflow-x: hidden;
}
#s-c71a4b95-cca4-4109-8fa3-602d332734f3 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}