#s-da815005-83ef-43ea-8db5-b656330286d9 #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da815005-83ef-43ea-8db5-b656330286d9 #s-Label_97 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da815005-83ef-43ea-8db5-b656330286d9 #s-Label_98 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da815005-83ef-43ea-8db5-b656330286d9 #s-Label_99 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da815005-83ef-43ea-8db5-b656330286d9 #s-Ellipse_33 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da815005-83ef-43ea-8db5-b656330286d9 #s-Ellipse_34 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da815005-83ef-43ea-8db5-b656330286d9 #s-Ellipse_35 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da815005-83ef-43ea-8db5-b656330286d9 #s-Ellipse_36 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da815005-83ef-43ea-8db5-b656330286d9 #s-Ellipse_37 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da815005-83ef-43ea-8db5-b656330286d9 #s-Label_106 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da815005-83ef-43ea-8db5-b656330286d9 #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da815005-83ef-43ea-8db5-b656330286d9 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da815005-83ef-43ea-8db5-b656330286d9 #s-Label_101 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=2) ;
  filter: alpha(opacity=2) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da815005-83ef-43ea-8db5-b656330286d9 #s-Label_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95) ;
  filter: alpha(opacity=95) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da815005-83ef-43ea-8db5-b656330286d9 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da815005-83ef-43ea-8db5-b656330286d9 #s-Rich_text_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95) ;
  filter: alpha(opacity=95) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da815005-83ef-43ea-8db5-b656330286d9 #s-Image_51 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da815005-83ef-43ea-8db5-b656330286d9 #s-Label_13 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98) ;
  filter: alpha(opacity=98) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da815005-83ef-43ea-8db5-b656330286d9 #s-Label-blue {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da815005-83ef-43ea-8db5-b656330286d9 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da815005-83ef-43ea-8db5-b656330286d9 #s-Callout_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95);
  filter: alpha(opacity=95);
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da815005-83ef-43ea-8db5-b656330286d9 #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95) ;
  filter: alpha(opacity=95) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da815005-83ef-43ea-8db5-b656330286d9 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da815005-83ef-43ea-8db5-b656330286d9 #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da815005-83ef-43ea-8db5-b656330286d9 #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da815005-83ef-43ea-8db5-b656330286d9 #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da815005-83ef-43ea-8db5-b656330286d9 #s-Label_201 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
  filter: alpha(opacity=0) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da815005-83ef-43ea-8db5-b656330286d9 #s-Label_169 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da815005-83ef-43ea-8db5-b656330286d9 #s-Label_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da815005-83ef-43ea-8db5-b656330286d9 #s-Label_137 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da815005-83ef-43ea-8db5-b656330286d9 #s-Label_220 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da815005-83ef-43ea-8db5-b656330286d9 #s-Line_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da815005-83ef-43ea-8db5-b656330286d9 #s-Label_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da815005-83ef-43ea-8db5-b656330286d9 #s-Label_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=82) ;
  filter: alpha(opacity=82) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da815005-83ef-43ea-8db5-b656330286d9 #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da815005-83ef-43ea-8db5-b656330286d9 #s-Label_5 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=82) ;
  filter: alpha(opacity=82) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da815005-83ef-43ea-8db5-b656330286d9 #s-Label_6 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=82) ;
  filter: alpha(opacity=82) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da815005-83ef-43ea-8db5-b656330286d9 #s-Label_147 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da815005-83ef-43ea-8db5-b656330286d9 #s-Label_152 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da815005-83ef-43ea-8db5-b656330286d9 #s-Label_153 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da815005-83ef-43ea-8db5-b656330286d9 #s-Label_155 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da815005-83ef-43ea-8db5-b656330286d9 #s-Label_154 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-da815005-83ef-43ea-8db5-b656330286d9 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}